<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.foodorderapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodOrderApp">
        <activity android:name=".DetailActivity"></activity>
        <activity
            android:name=".SplashActivity"
            android:noHistory="true">
            //on pressing back button in mobile it will not return to the splash screen again
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".orderActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>